aiohttp==3.8.1
aria2p==0.11.1
beautifulsoup4==4.10.0
cfscrape==2.1.1
core==1.0.1
feedparser==6.0.8
hachoir==3.1.2
hurry==1.1
js2py==0.71
lk21==1.6.0
megasdkrestclient==0.1.1
Pillow==9.0.1
psutil==5.2.2
pyrogram==1.4.7
python-dotenv==0.19.2
requests==2.22.0
telegram==0.0.1
telethon==1.24.0
