name: Docker Build CI

on:
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: |
       echo "${{ secrets.DOCKERPASS }}" | docker login -u "${{ secrets.DOCKERUSER }}" --password-stdin
       echo ${{ secrets.GH_TOKEN }} | docker login https://docker.pkg.github.com -u reaitten --password-stdin
       docker build -t docker.pkg.github.com/reaitten/tgtlg/tgtlg:latest .
       docker push docker.pkg.github.com/reaitten/tgtlg/tgtlg:latest
       docker build -t reaitten/tgtlg:latest .
       docker push reaitten/tgtlg:latest
