name: prebuild pypi app

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: install dependencies
      run: |
        python -m pip install --upgrade pip
        python3 -m pip install --upgrade build  
        python3 -m pip install --user --upgrade twine
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: build package
      run: |
        python3 -m build
    - name: push
      run: |
        python3 -m twine upload dist/* --username=${{ secrets.PYPI_USER }} --password=${{ secrets.PYPI_PASS }}
